$font-text: 'Roboto', sans-serif;
$font-head: 'Open Sans Condensed', sans-serif;
$color-primary: #DB2723;
$color-secondary: #333333;
$color-third: rgb(239, 243, 18);
$color-text: #212325;
$color-text-nav: #ffffff;