.main_button{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    .btn_primary{
        padding: 10px 25px;
        color: $color-text-nav;
        background-color: $color-primary;
        border: 2px solid $color-secondary;
        border-radius: 25px;
        font-size: 1.3rem;
        box-shadow: 0px 3px $color-secondary;
        cursor: pointer;
        
        &:hover{
            background-color: $color-secondary;
            border-color: $color-secondary;
            transition: .3s ease;
        }
    }
    
}