.conditions{

    padding-bottom: 80px;
    .conditions_item{

        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            display: block;
            position: absolute;
            height: 4px;
            width: 20%;
            background: $color-primary;
            opacity: 1;
        }

        p{

            text-align: justify;
            padding: 20px 30px;

        }

        
    }

    .collapse_button{

        background-color: $color-primary;
        border-radius: 35px 35px 35px 0;
        cursor: pointer;
        
        h3{
            color: $color-text-nav;
            padding: 15px;
        }
    }

    .cond_item_collapse{

        position: relative;

        &::before{
            content: " ";
            background-color: $color-primary;
            position: absolute;
            top: 25px;
            left: 15px;
            width: 20px;
            height: 20px;

        }
    }

    
}